.store-register-form__session-message {
    margin: 12rem auto 0 auto;
    text-align: center;
    color: #000;
}

.store-register-form {
    width: 90%;
    max-width: 25rem;
    margin: 12rem auto;
    padding: 1.75rem;
    border-radius: 0.38rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
    background-color: #fff;
    position: relative;
}

.store-register-form__heading {
    background-color: #3460f6;
    color: #fff;
    padding: 1rem;
    margin: -1.75rem -1.75rem 1rem -1.75rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    border-top-left-radius: 0.38rem;
    border-top-right-radius: 0.38rem;
}

.store-register-form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
}

.store-register-form__group {
    width: 100%;
}

.store-register-form__input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.store-register-form__input,
.store-register-form__select {
    flex: 1;
    padding: 1rem 0.5rem 0 0.06rem;
    border-bottom: 0.06rem solid #000;
    outline: none;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

.store-register-form__select:invalid {
    color: #757575;
}

.store-register-form__select option {
    color: #000;
}

.store-register-form__input:focus,
.store-register-form__select:focus {
    border-bottom: 0.13rem solid #757575;
}

.store-register-form__textarea {
    flex: 1;
    padding: 1rem 0.5rem 0 0.06rem;
    border-bottom: 0.06rem solid #000;
    outline: none;
    height: 10rem;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

.store-register-form__image-preview {
    padding: 1rem 0.5rem 0 0.06rem;
    margin-left: 2rem;
    max-width: 6.3rem;

}

.store-register-form__image {
    flex: 1;
    padding: 1rem 0.5rem 0 0.06rem;
    outline: none;
    font-size: 1rem;
    line-height: 1.5;
}

.store-register-form__image-url {
    flex: 1;
    padding: 1rem 0.5rem 0 0.06rem;
    margin-left: 2rem;
    border-bottom: 0.06rem solid #000;
    outline: none;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

.store-register-form__error-message {
    font-size: 1rem;
    color: #cf2222;
    margin-left: 2.5rem;
}

.store-register-form__button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.store-register-form__button {
    padding: 0.5rem 1rem;
    background-color: #3460f6;
    color: #fff;
    border: none;
    border-radius: 0.38rem;
    font-size: 0.75rem;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.store-register-form__button:not(:last-child) {
    margin-right: 0.5rem;
}

/* 登録フォームアイコン */
.fa-house {
    margin: 1rem 0.5rem 0 0;
}

.fa-location-dot {
    margin: 1rem 0.5rem 0 0;
}

.fa-tag {
    margin: 1rem 0.5rem 0 0;
}

.fa-pen {
    margin: 1rem 0.5rem 0 0;
}

.fa-image {
    margin: 1rem 0.5rem 0 0;
}

/* セレクトフォームアイコン */
.fa-caret-down {
    color: #1d2f4e;
    opacity: 0.2;
    pointer-events: none;
    position: absolute;
    top: 50%;
    /* 上下中央揃え */
    right: 1rem;
    transform: translateY(-50%);
}

@media (max-width: 768px) {

    .header {
        height: 8.35rem;
    }

    .header__container {
        padding-bottom: 0;
    }

    .store-register-form {
        margin: 10rem auto;
    }

    .store-register-form__error-message {
        font-size: 0.75rem;
    }
}