.verification-form__session-message {
    margin: 12rem auto 0 auto;
    text-align: center;
    color: #000;
}

.verification-form {
    width: 90%;
    max-width: 25rem;
    margin: 12rem auto;
    /* margin: 0 auto; */
    padding: 1.75rem;
    border-radius: 0.38rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
    background-color: #fff;
    position: relative;
    /* overflow: hidden; */
}

.verification-form__heading {
    background-color: #3460f6;
    color: #fff;
    padding: 1rem;
    margin: -1.75rem -1.75rem 1rem -1.75rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    border-top-left-radius: 0.38rem;
    border-top-right-radius: 0.38rem;
}

.verification-form__text {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.verification-form__group {
    width: 100%;
    /* margin-bottom: 0.5rem; */
}

.verification-form__resend {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.verification-form__resend-button {
    padding: 0.5rem 1rem;
    background-color: #3460f6;
    color: #fff;
    border: none;
    border-radius: 0.38rem;
    font-size: 0.75rem;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

@media (max-width: 768px) {

    .header {
        height: 8.35rem;
    }

    .header__container {
        padding-bottom: 0;
    }

    .verification-form {
        /* width: 100%; */
        margin: 10rem auto;
    }


}