* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    font-family: "Noto Sans JP", sans-serif;
}

img {
    width: 100%;
    height: auto;
}

/* a { */
    /* color: inherit; */
    /* text-decoration: none; */
/* } */

/* li { */
    /* list-style: none; */
/* } */

input::placeholder {
    color: #757575;
}

/* ヘッダー */
.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9.38rem;
    padding: 0 3rem;
    background-color: #eeeeee;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 1000;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.header__logo {
    margin-left: 5rem;
    font-size: 2rem;
    color: #3460f6;
}

/* ハンバーガーメニュー */
.hamburger-input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.hamburger-label {
    display: block;
    background-color: #3460f6;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
    position: fixed;
    left: 3rem;
    top: 4.5rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 4000;
}

.hamburger-label span,
.hamburger-label span::before,
.hamburger-label span::after {
    position: absolute;
    display: block;
    content: "";
    width: 60%;
    height: 0.06rem;
    background-color: #ffffff;
    transition: all 0.5s;
}

.hamburger-label span::before {
    top: -0.63rem;
}

.hamburger-label span::after {
    width: 25%;
    bottom: -0.63rem;
}

.hamburger-input:checked + .hamburger-label span {
    background-color: transparent;
}

.hamburger-input:checked + .hamburger-label span::before {
    top: 0;
    transform: rotate(45deg);
    width: 100%;
}

.hamburger-input:checked + .hamburger-label span::after {
    bottom: 0;
    transform: rotate(-45deg);
    width: 100%;
}

.header-nav {
    position: fixed;
    width: 90vw;
    height: 100vh;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #3460f6;
    padding: 3.13rem 0;
    transition: all 0.5s;
    z-index: 3000;
}

.header-nav__list {
    padding: 0;
    margin-top: 8rem;
    list-style: none;
}
.header-nav__item {
    margin: 0.75rem 0;
}

.header-nav__link {
    display: block;
    font-size: 1.5rem;
    color: #3460f6;
    padding: 0.5rem 3.13rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
        &:hover {
            color: #fff;
            background-color: #3460f6;
        }
}

.header-nav__link--button {
    display: block;
    font-size: 1.5rem;
    color: #3460f6;
    padding: 0.5rem 3.13rem;
    text-align: center;
    width: 100%;
    border: none;
    background: none;

        &:hover {
            color: #fff;
            background-color: #3460f6;
        }
}

.hamburger-input:checked ~ .header-nav {
    top: 50%;
    transform: translate(-50%, -50%);
}

/* お気に入りマーク */
.heart-toggle {
    display: none;
}

.heart-toggle-wrapper {
    display: inline-block;
    text-decoration: none;
}

.heart-icon {
    position: relative;
    width: 1rem;
    height: 2rem;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s;
}

.heart-icon::before,
.heart-icon::after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 2rem;
    border-radius: 50% 50% 0 0;
    background-color: #eeeeee;
    transition: background-color 0.3s;
}

.heart-icon::before {
    top: 0;
    left: 0;
    transform: rotate(-50deg);
    transform-origin: 0 100%;
}

.heart-icon::after {
    top: 0;
    left: -1.5rem;
    transform: rotate(50deg);
    transform-origin: 100% 100%;
}

.heart-toggle:checked + .heart-icon::before,
.heart-toggle:checked + .heart-icon::after {
    background: #ec3323;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li:not(.active) {
    background-color: #fff;
    color: #3460f6;
    border: 0.06rem solid #757575;
    padding: 0.5rem 1rem;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    color: #3460f6;
    text-decoration: none;

        &:hover {
            color: #3460f6;
            opacity: 0.5;
        }
}

.pagination__link {
    text-decoration: none;

        &:hover {
            background-color: #3460f6;
            opacity: 0.5;
        }
}

.active {
    padding: 0.5rem 1rem;
    border: 0.06rem solid #3460f6;
    background-color: #3460f6;
    color: #FFF;
}

@media (max-width: 900px) {

    html {
        font-size: 14px;
    }

    .header__container {
        margin-left: 0;
    }

    .header-nav {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: -100vw;
        transform: none;
    }

    .hamburger-input:checked~.header-nav {
        left: 0;
        transform: translate(0, -50%);
    }
}

/* 検索結果 */
.no-results__text {
    text-align: center;
}

@media (max-width: 768px) {

    html {
        font-size: 14px;
    }

    .header {
        flex-direction: column;
        padding: 2rem;
        height: 20rem
    }


    .header__container {
        margin-left: 0;
        padding-bottom: 3rem;
    }

    .hamburger-label {
            top: 4rem;
    }

    .header-nav {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: -100vw;
        transform: none;
    }

    .hamburger-input:checked ~ .header-nav {
        left: 0;
        transform: translate(0, -50%);
    }
}