.done-form {
    width: 90%;
    max-width: 30rem;
    margin: 12rem auto;
    padding: 6rem;
    border-radius: 0.38rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.done-form__heading {
    background-color: #fff;
    color: #000;
    padding: 1rem;
    margin: -1rem -1rem 1rem -1rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}

/* .thanks-form__inner { */
/* display: flex; */
/* flex-direction: column; */
/* align-items: center; */
/* } */

/* .thanks-form__form { */
/* width: 100%; */
/* margin-bottom: 1rem; */
/* position: relative; */
/* } */

/* .thanks-form__group { */
/* width: 100%; */
/* margin-bottom: 0.5rem; */
/* position: relative; */
/* } */

.done-form__button-container {
    display: flex;
    justify-content: center;
}

.done-form__button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #3460f6;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 0.19rem;
    font-size: 0.75rem;
    text-align: center;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

@media (max-width: 768px) {
    
    .header {
            height: 8.35rem;
        }
    
    .header__container {
            padding-bottom: 0;
    }


    .done-form {
        width: 90%;
        margin: 10rem auto;
    }

    .done-form__heading {
        font-size: 1.2rem;
    }
}
