/* 検索フォーム */
.header-search-container {
    display: flex;
    justify-content: flex-end;
    /* width: 60%; */
    padding: 0.63rem;
}

.header-search-form {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    padding: 0.25rem 0.63rem;
}

.header-search__select-group {
    display: flex;
    align-items: center;
}

.header-search__select-wrapper {
    display: flex;
    align-items: center;
    border-right: 1px solid #eeeeee;
}

.header-search__select {
    width: 6.3rem;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.2;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.header-search__caretdown-icon {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.2;
    pointer-events: none;
}

.header-search__input-group {
    display: flex;
    align-items: center;
    width: 20rem;
}

.header-search__search-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.2;
}


.header-search__input {
    padding: 0.63rem;
    flex: 1;
}

.shop{
    margin-top: 5rem;
    padding: 2.5rem 1rem;
}

.shop-container {
    max-width: 75rem;
    margin: 5rem auto;
    padding: 0 1rem;
}

.shop-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}

.shop-wrap__item {
    flex: 1 1 calc(25% - 1rem);
    max-width: calc(25% - 1rem);
    position: relative;
    display: block;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.shop-wrap__item-photo {
    border-radius: 0.5rem 0.5rem 0 0;
    /* box-shadow: 0.25rem 0 0.25rem rgba(0, 0, 0, 0.4); */
}

.shop-wrap__item-content {
    background: #fff;
    border-radius: 0.5rem;
    /* box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4); */
    padding: 1rem 1.25rem;
    margin-top: -1rem;
}

.shop-wrap__item-name {
    position: relative;
    margin-top: 1rem;
}

.shop-wrap__item-tag-container {
    display: flex;
    justify-content: flex-start;
}

.shop-wrap__item-tag {
    white-space: nowrap;
    font-size: 0.75rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}

.shop-wrap__item-button {
    white-space: nowrap;
    padding: 0.5rem 1rem;
    background-color: #3460f6;
    color: #fff;
    border: none;
    border-radius: 0.38rem;
    font-size: 0.75rem;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.shop-wrap__item-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.shop-wrap__item-toggle-heart {
    display: none;
}

.shop-wrap__item-heart {
    position: relative;
    width: 1rem;
    height: 2rem;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s;
}

.shop-wrap__item-heart::before,
.shop-wrap__item-heart::after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 2rem;
    border-radius: 50% 50% 0 0;
    /* transform: rotate(-45deg); */
    /* transform-origin: 0 100%; */
    background-color: #eeeeee;
    transition: background-color 0.3s;
}

.shop-wrap__item-heart::before {
    top: 0;
    left: 0;
    transform: rotate(-50deg);
    transform-origin: 0 100%;
}

.shop-wrap__item-heart::after {
    top: 0;
    left: -1.5rem;
    transform: rotate(50deg);
    transform-origin: 100% 100%;
}

.shop-wrap__item-toggle-heart:checked + .shop-wrap__item-heart::before,
.shop-wrap__item-toggle-heart:checked + .shop-wrap__item-heart::after {
    background: #ec3323;
}

/* @media (max-width: 900px) { */


    /* .shop-wrap__item { */
        /* flex: 1 1 calc(33.333% - 1rem); */
        /* max-width: calc(33.333% - 1rem); */
    /* } */
/* } */

@media (max-width: 768px) {

    .header-search-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }

    .header-search-form {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }

    .header-search__select-group {
        justify-content: center;
        text-align: center;
    }

    .header-search__select-wrapper {
        margin: 0.5rem;
    }
    .header-search__select-wrapper:last-child {
        border-right: none;
    }

    .header-search__input-group {
        border-top: 1px solid #eeeeee;
    }

    .header-search__button {
        width: 100%;
        margin: 0.5rem 0;
        text-align: right;
    }

    .shop-container {
            max-width: 30rem;
            margin: 15rem auto;
        }

    .shop-wrap {
        justify-content: center;
    }

    .shop-wrap__item {
        flex: 1 1 calc(100% - 1rem);
        max-width: calc(100% - 1rem);
    }

}

