/* 店舗詳細 */
.detail {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 2.5rem 1rem;
}

.detail-container,
.reserve-form {
    max-width: 40%;
}

.detail-container {
    margin: 5rem auto;
    padding: 0 1rem;
}

.detail-heading {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1rem;
}

.detail-heading__button-before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    color: #000;
    border: none;
    border-radius: 0.19rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
    background-color: #fff;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.detail-heading__name {
    font-size: 1.75rem;

}

.detail-container__item {
    display: flex;
    justify-content: flex-start;
}

.detail-container__item-tag {
    white-space: nowrap;
    font-size: 0.88rem;
    padding-right: 0.5rem;
    margin: 1rem 0;
    list-style: none;
}

.detail-container__description {
    margin-bottom: 1rem;
    font-size: 0.88rem;
}


/* 予約フォーム */
.reserve-form {
    width: 48%;
    margin: 5rem auto;
    padding: 1.75rem;
    max-height: 48rem;
    border-radius: 0.38rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
    background-color: #3460f6;
    position: relative;
}

.reserve-form__heading {
    color: #fff;
    padding: 2.5rem 1.5rem 0;
    margin: -1.75rem -1.75rem 1rem -1.75rem;
    text-align: left;
    font-size: 1.5rem;
}

.reserve-form__form {
    width: 100%;
    margin-bottom: 1rem;
}

.reserve-form__group {
    width: 100%;
    font-size: 0.75rem;
}

.reserve-form__select-date {
    width: 50%;
    background-color: #fff;
    padding: 0.5rem;
    margin: 0.5rem 0 0;
    border-radius: 0.38rem;
    outline: none;
}

.reserve-form__select-wrapper {
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
    background-color: #fff;
    border-radius: 0.38rem;
    width: 100%;
}

.reserve-form__select-time,
.reserve-form__select-number {
    width: 100%;
    background-color: #fff;
    padding: 0.75rem;
    border-radius: 0.38rem;
    outline: none;
    -webkit-calendar-picker-indicator: none;
    border: none;
    appearance: none;
}

.reserve-form__error-message {
    font-size: 0.75rem;
    color: #fff;
    margin: 0.25rem;
}

.reserve-form__confirm {
    width: 100%;
    display: block;
    margin: 1.5rem 0;
    background-color: #5580f7;
    border-radius: 0.38rem;
    color: #fff;
}

.reserve-form__confirm-table {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    table-layout: fixed;
}

.reserve-form__confirm-table th {
    width: 25%;
}

.reserve-form__confirm-table th,
.reserve-form__confirm-table td {
    padding: 0.25rem;
    font-size: 0.75rem;
    text-align: left;
    word-wrap: break-word;
}

.reserve-form__button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    gap: 0.5rem;
    margin-top: 1rem;
}

.reserve-form__button {
    width: 100%;
    padding: 1rem;
    background-color: #003ff5;
    color: #fff;
    border: none;
    border-radius: 0 0 0.38rem 0.38rem;
    font-size: 0.75rem;
    cursor: pointer;

        &:hover {
            background-color: #fff;
            color: #003ff5;
        }
}

/* 予約フォームセレクトアイコン */
.fa-caret-down {
    color: #1d2f4e;
    opacity: 0.2;
    pointer-events: none;
    position: absolute;
    right: 2.5rem;
}

/* レビュー */
.review-form {
    width: 100%;
    margin: 0 auto 2rem;
    padding: 1.75rem;
    border-radius: 0.38rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
    background-color: #3460f6;
    position: relative;
}

.review-form__button{
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: #003ff5;
    color: #fff;
    border: none;
    border-radius: 0.38rem;
    font-size: 0.75rem;
    cursor: pointer;

        &:hover {
            background-color: #fff;
            color: #003ff5;
        }
}

.review-form__group{
    margin: 1rem 0;
    color: #fff;
}

.review-form__error-message {
    font-size: 0.75rem;
    color: #eee;
    margin: 0.25rem;
}

.review-form__group-rating--input {
    width: 10rem;
    background-color: #fff;
    color: #003ff5;
    border: 0.06rem solid #003ff5;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.review-form__group-comment--text {
    width: 100%;
    height: 10rem;
    background-color: #fff;
    color: #003ff5;
    border: 0.06rem solid #003ff5;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    resize: vertical;
}

/* 口コミ */
.comment-area {
    display: flex;
    flex-direction: column;
}

.comment-area__comment-form--link {
    font-size: 0.88rem;
    margin-bottom: 1rem;
    color: inherit;
    text-decoration: underline;
}

.comment-area__comment-form--link:hover {
    color: #3460f6;
    text-decoration: underline;
}

.comment-area__button-container {
    width: 100%;
}

.comment-area__button--display {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: #3460f6;
    color: #fff;
    border: none;
    border-radius: 0.38rem;
    font-size: 0.75rem;
    cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
}

.comment-content {
    border-top: 0.13rem solid #d2d2d2;
    max-height: 500px;
    overflow-y: auto;
}

.latest-comment,
.comment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 0.13rem solid #d2d2d2;
}

.comment-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
}

.edit-link,
.delete-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    -webkit-appearance: none;
}

.edit-link:hover,
.delete-link:hover {
    color: #3460f6;
    text-decoration: underline;
}

.delete-link:focus {
    outline: none;
    box-shadow: 0 0 0.06rem #3460f6;
}

.comment-image-thumbnail {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.star {
    font-size: 2rem;
    color: #cccccc;
}

.star.filled {
    color: #3d5fe5;
}

.comment-area__error-message {
    color: #cf2222
}

.comment-status-message {
    text-align: center;
    color: #cf2222
}

@media (max-width: 768px) {

    .header {
        height: 8.35rem;
    }

    .header__container {
        padding-bottom: 0;
    }

    .hamburger-label {
        top: 4rem;
    }


    .detail {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }

    .detail-container,
    .reserve-form {
        max-width: 90%;
        width: 100%;
    }

    .reserve-form {
        z-index: 0;
    }

    .reserve-form__confirm {
        margin-bottom: 3rem;
    }
}