/* 店舗詳細 */
.detail {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 2.5rem 1rem;
}

.detail-container,
.reserve-form {
    max-width: 40%;
}

.detail-container {
    margin: 5rem auto;
    padding: 0 1rem;
}

.detail-heading {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1rem;
}

.detail-heading__button-before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    color: #000;
    border: none;
    border-radius: 0.19rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
    background-color: #fff;
    cursor: pointer;
    /* padding: 0; */
    font-size: 1rem;
}

.detail-heading__name {
    font-size: 1.75rem;

}

.detail-container__item {
    display: flex;
    justify-content: flex-start;
}

.detail-container__item-tag {
    white-space: nowrap;
    font-size: 0.88rem;
    padding-right: 0.5rem;
    margin: 1rem 0;
}

.detail-container__description {
    font-size: 0.88rem;
}

/* 予約フォーム */
.reserve-form {
    width: 48%;
    margin: 0 auto 2rem;
    padding: 1.75rem;
    max-height: 48rem;
    border-radius: 0.38rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
    background-color: #3460f6;
    position: relative;
    z-index: 2000;
}

.reserve-form__heading {
    color: #fff;
    padding: 2.5rem 1.5rem 0;
    margin: -1.75rem -1.75rem 1rem -1.75rem;
    text-align: left;
    font-size: 1.5rem;
}



.reserve-form__form {
    width: 100%;
    margin-bottom: 1rem;
}

.reserve-form__group {
    width: 100%;
    font-size: 0.75rem;
}


.reserve-form__select-date {
    width: 50%;
    background-color: #fff;
    padding: 0.5rem;
    margin: 0.5rem 0 0;
    border-radius: 0.38rem;
    outline: none;
}



.reserve-form__select-wrapper {
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
    /* 上下のマージンを揃える */
    background-color: #fff;
    border-radius: 0.38rem;
    width: 100%;
    /* 親要素の幅を100%に設定 */
}

.reserve-form__select-time,
.reserve-form__select-number {
    width: 100%;
    background-color: #fff;
    padding: 0.75rem;
    /* margin: 0.25rem 0; */
    border-radius: 0.38rem;
    outline: none;
    -webkit-calendar-picker-indicator: none;
    border: none;
    /* ボーダーをなしに */
    appearance: none;
    /* デフォルトのスタイルをリセット */
}

.reserve-form__error-message {
    /* white-space: nowrap; */
    font-size: 0.75rem;
    color: #fff;
    margin: 0.25rem;
    /* bottom: -20px; */
    /* left: 0; */
    /* display: none; */
}

.reserve-form__confirm {
    width: 100%;
    display: block;
    margin: 1.5rem 0;
    background-color: #5580f7;
    border-radius: 0.38rem;
    color: #fff;
    

}
.reserve-form__confirm-table {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    table-layout: fixed;
}

.reserve-form__confirm-table th {
    width: 25%;
}

.reserve-form__confirm-table th,
.reserve-form__confirm-table td {
    padding: 0.25rem;
    font-size: 0.75rem;
    text-align: left;
    word-wrap: break-word;
}



.reserve-form__button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    /* align-items: center; */
    gap: 0.5rem;
    margin-top: 1rem;
}

.reserve-form__button {
    width: 100%;
    padding: 1rem;
    background-color: #003ff5;
    color: #fff;
    border: none;
    border-radius: 0 0 0.38rem 0.38rem;
    font-size: 0.75rem;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: #003ff5;
        /* opacity: 0.5; */
    }
}

/* セレクトフォームアイコン */
.fa-caret-down {
    color: #1d2f4e;
    opacity: 0.2;
    pointer-events: none;
    position: absolute;
    right: 2.5rem;
}

/* レビュー */
.review-form {
    width: 100%;
    margin: 0 auto 2rem;
    padding: 1.75rem;
    border-radius: 0.38rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
    background-color: #3460f6;
    position: relative;
}
.review-form__button{
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: #003ff5;
    color: #fff;
    border: none;
    border-radius: 0.38rem;
    font-size: 0.75rem;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: #003ff5;
    }
}

.review-form__group{
    margin: 1rem 0;
    color: #fff;
}

.review-form__error-message {
    /* white-space: nowrap; */
    font-size: 0.75rem;
    color: #fff;
    margin: 0.25rem;
}

.review-form__group-rating--input {
    width: 10rem;
    background-color: #fff;
    color: #003ff5;
    border: 0.06rem solid #003ff5;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.review-form__group-comment--text {
    width: 100%;
    height: 10rem;
    background-color: #fff;
    color: #003ff5;
    border: 0.06rem solid #003ff5;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    resize: vertical;
}

/* @media (max-width: 900px) { */


    /* .shop-wrap__item { */
        /* flex: 1 1 calc(33.333% - 1rem); */
        /* max-width: calc(33.333% - 1rem); */
    /* } */
/* } */

@media (max-width: 768px) {

    .header {
        height: 8.35rem;
    }

    .header__container {
        padding-bottom: 0;
    }

    .hamburger-label {
        top: 4rem;
    }


    .detail {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }
    
    .detail-container,
    .reserve-form {
        max-width: 90%;
        width: 100%;
    }

    .reserve-form {
        z-index: 0;
    }

    .reserve-form__confirm {
        margin-bottom: 3rem;
            /* ボタンとの間隔を確保 */
    }
    


    
}